---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import type { AboutProps, HeroProps } from "@types";

type Props = AboutProps & Pick<HeroProps, "name">;

const { description, image, name } = Astro.props;
---

<Section text="About Me" href="about">
  <div class="flex flex-col-reverse items-center gap-8 md:flex-row md:items-center md:gap-10">
    <p class="max-w-lg text-base text-neutral md:pr-5">{description}</p>
    <div class="h-104 w-72 flex-shrink-0 rotate-[5deg] bg-white p-4 md:rotate-[7deg] flex items-center justify-center">
      <Image
        class="object-cover rounded"
        src={image}
        width="260"
        height="260"
        alt={name}
      />
    </div>
  </div>
</Section>
